DATABASE_URL=
READONLY_DATABASE_URL=
META_PHONE_NUMBER_ID=
META_ACCESS_TOKEN=
META_VERIFY_TOKEN=
META_APP_SECRET=
GEMINI_API_KEY=
JWT_SECRET_KEY=
INTERNAL_CRON_SECRET=
FRONTEND_URL=
PROD_URL=
MONNIFY_BASE_URL=https://sandbox.monnify.com
MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
MONNIFY_WALLET_ACCOUNT_NUMBER=
MONNIFY_TRANSFER_FEE_BUFFER_KOBO=20000