DATABASE_URL=
READONLY_DATABASE_URL=
META_PHONE_NUMBER_ID=
META_ACCESS_TOKEN=
META_VERIFY_TOKEN=
META_APP_SECRET=
INTERSWITCH_MERCHANT_CODE=
INTERSWITCH_PAY_ITEM_ID=
INTERSWITCH_WEBHOOK_SECRET=
INTERSWITCH_BASE_URL=
INTERSWITCH_QUERY_URL=
GEMINI_API_KEY=
JWT_SECRET_KEY=
INTERNAL_CRON_SECRET=
FRONTEND_URL=
PROD_URL=